/*TODA LA PAGINA*/
*{
    padding: 0;
    margin: 0;
}
*,*::after,*::before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
body{
    font-family: monospace;
    font-size: 14px;
    overflow-x: hidden;
    background: rgb(248,249,249);
    background: linear-gradient(82deg, rgba(248,249,249,1) 6%, rgba(223,223,223,0.9163865375251663) 100%); 
}
h1,h2,h3,h4,h5,h6{
    font-family: serif;
}

/*CORTAR TEXTO EN 3 PUNTOS*/
.txt-3{
    width: 500px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*CLASES PARA EROR Y MOSTRAR ELEMENTOS*/
.busqueda-error{
    width: 100%;
    height: auto;
    color: #ec2f2f;
    font-weight: 400;
    font-size: large;
    display: block;
    text-align: center;
    margin-top: 10rem;
}
.error{
    width: 100%;
    height: auto;
    color: crimson;
    font-weight: 400;
    font-size: small;
    display: block;
    text-align: center;
    margin-top: .7rem;
}
.none{
    display: none;
}
._hidden{
    opacity: 0;
    visibility: hidden;
}

/*CONTENEDOR DE TABLAS*/
.table-container{
    width: 90%;
    height: auto;
    overflow-x: scroll;
    margin: auto;
    scrollbar-width: none;
}
.table-container::-webkit-scrollbar {
    display: none;
}

/*DISEÑO GLOBAL DE TABLA*/
.table{
    width: 100%;
    height: auto;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}
.table thead{
    background-color: whitesmoke;
    color: #1c2833;
}
.table td, .table th{
    border-bottom: thin solid rgba(0,0,0,.2);
    padding: .3rem;
}
.table td{
    background-color: #fff;
}
.table td i{
    color: #333;
    font-size: large;
    cursor: pointer;
}
.table td img{
    width:  50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
/*DISEÑO 2*/
.table-bordered{
    width: 100%;
    height: auto;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    font-size: medium;
    text-transform: uppercase;
}
.table-bordered thead{
    background-color: whitesmoke;
    color: #1c2833;
}
.table-bordered td, .table-bordered th{
    border: thin solid rgba(0,0,0,.2);
    padding: .3rem;
}
.table-bordered td{
    background-color: #fff;
}
.table-bordered td i{
    color: #c3c3c2;
    font-size: large;
    cursor: pointer;
}
.table-bordered td img{
    width:  50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.align-left{
    text-align: start;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: end;
}

/*DISEÑO GLOBAL ERROR 404*/
.container-error{
    width: 50%;
    height: auto;
    padding: 2rem;
    background-color: #e8e8e8;
    border-radius: .5em;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 12%;
}
.container-error img{
    width: 6rem;
    height: auto;
    border-radius: 50%;
    transition: transform 600ms;
    animation: shake 600ms linear infinite alternate;
}
.container-error h1{
    color: midnightblue;
}
.container-error h1, .container-error p{
    text-align: justify;
}
@keyframes shake{
    0%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(45deg);
    }
}
