/*GRID PRINCIPAL PARA TODA LA PAGINA*/
.root-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 22% 1fr 22%;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "header header header"
    "nav    main   asideRight"
    ;
}
.root-container .nav{
    grid-area: nav;
}
.root-container .main{
    grid-area: main;
    height: 100vh;
}
.root-container .asideRight{
    grid-area: asideRight;
}

/*HEADER*/
.header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 3rem;
    position: sticky;
    top: 0;
    background-color:#f4f6f6;
    box-shadow: 0px 1px 5px 1px  rgba(0,0,0,.3)
}
.header img{
    width: 25px;
    height: 25px;
}
.header a span{
    padding-left: 1rem;
}
.header a{
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: #333;
    font-family: sans-serif;
    display: flex;
    align-items: center;
}
.header a:hover{
    transition: color 200ms;
    color: #222;
}
.header .hamburger{
    transform: scale(.7);
    margin: 0;
    padding: 0;
    display: none;
}

/*NAVEGACION*/  
.nav .nav-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 3rem;
}
.nav .nav-container img{
    width: 75px;
    height: 75px;
    margin: 1rem auto;
    border-radius: 50%;
}
.nav .nav-container span i.conectado{
    color: green;
    transform: scale(.8);
}
.nav .nav-container span{
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin: auto 1rem 1rem 1rem;
    color: slategray;
    font-size: small
}
.nav .nav-container .menu{
    width: 100%;
    height: 100%;
}
.nav .nav-container .menu ul{
    list-style: none;
    overflow-y: scroll;
    scrollbar-width: none;
}
.nav .nav-container .menu ul::-webkit-scrollbar {
    display: none;
}
.nav .nav-container .menu ul li{
    border-bottom: thin solid lightgray;
}
.nav .nav-container .menu ul li i{
    color: #1c2833;
}
.nav .nav-container .menu ul li a{
    width: 100%;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
}
.nav .nav-container .menu ul li a:hover{
    transition: background-color 200ms;
    background-color: rgba(0,0,0,.1);
    color: #111;
}
.nav.show-nav, .asideRight.show-nav{
    transform: translateX(0);
}


/*FILTROS DE BUSQUEDA*/
.asideRight .filtros-container{
    width: 100%;
    height: auto;
    display: flex;
    position: sticky;
    top: 3rem;
    flex-direction: column;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
}
.asideRight .filtros-container::-webkit-scrollbar {
    display: none;
}
.asideRight .filtros-container > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.asideRight .filtros-container label{
    font-weight: bold;
    font-family: sans-serif;
    font-size: small;
    margin-bottom: .3rem;
}
.asideRight .filtros-container button{
    font-weight: bold;
    color:#fff;
    background-color:  #212f3c;
    border: none;
    margin-top: .5rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: .5em;
}
.asideRight .filtros-container select{
    background-color: #fff;
    color: #333;
    border: none;
    padding: .5rem;
    font-weight: bold;
}
.asideRight .filtros-container button:hover{
    transition: background-color 200ms;
    background-color: green;
}
.btn-filtro{
    background-color: #1c2833;
    color: #fff;
    padding: .4rem;
    position: fixed;
    top: calc(3.2rem);
    left: calc(0rem);
    border-top-right-radius :.5em;
    border-bottom-right-radius :.5em;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer;
    z-index: 1000;
    display: none;
}
.filtro-active{
    background-color: #ec2f2f;
}



/*PUBLICACION*/
.card{
    width: 70%;
    height: auto;
    margin: auto;
    background-color: #fff;
    margin: 2rem auto;
    border-radius: .3em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "card-header card-header"
    "card-body   card-body"
    "card-footer card-footer"
    ;
}
.card .card-header{
    grid-area: card-header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem;
}
.card .card-header img{
    width: 3rem;
    height: 3rem;
}
.card .card-header span{
    padding: 1rem;
}
.card .card-header span h5{
    color: #212f3c;
    font-size: small;
    margin-bottom: .3rem;
    font-family: sans-serif;
}
.card .card-header span small{
    color: #444;
}
.card .card-body{
    grid-area: card-body;
    width: 100%;
    height: auto;
    word-wrap: break-word;
    padding: 1rem;
}
.card .card-body h2{
    color: #333;
    font-size: small;
    width: 100%;
    height: auto;
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-family: sans-serif;
}
.card .card-body p{
    width: 100%;
    height: auto;
    text-transform: capitalize;
    text-align: justify;
}
.cortar_texto{
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .card-body a{
    text-decoration: none;
    color: blue;
}
.card .card-body a:hover{
    text-decoration: underline;
}
.card .card-footer{
    grid-area: card-footer;
    display: flex;
    border-top: thin solid lightgrey;
    padding: 1rem;
    justify-content: space-around;
}
.card .card-footer .btnMarcar{
    text-decoration: none;
    font-family: sans-serif;
    color: #000;
    font-weight: bold;
    font-size: small;
}
.card .card-footer .btnMarcar i{
    color: #333;
    font-size: medium;
}
.card .card-footer .btnMarcar:hover{
    color: #ec2f2f;
}
.card .card-footer .btnVisualizar{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    font-size: small;
}
.card .card-footer .btnVisualizar i{
    color: midnightblue;
    font-size: medium;
}
.card .card-footer .btnVisualizar:hover{
    color: midnightblue;
}

.card .card-footer .icono-estado{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: #000;
    font-size: small;
    cursor: text;
}
.card .card-footer i.estado-abierta{
    color: green;
    font-size: medium;
}
.card .card-footer i.estado-cerrada{
    color: #ec2f2f;
    font-size: medium;
}
.card .card-footer i.estado-programada{
    color: #333;
    font-size: medium;
}
.card .card-footer .btnMarcar.marcada{
    color: #ec2f2f;
    animation: pulse 200ms linear;
}
.card .card-footer .btnMarcar.marcada i{
    color: #ec2f2f;
}
@keyframes pulse{
    0%,50%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}

.loader-home{
    width: 3rem;
    height: 3rem;
    position: sticky;
    z-index: 1000;
    left: calc(50%);
    top: calc(50%);
    border-radius: 50%;
}


/*MEDIA QUERY*/
@media only screen and (min-width: 0px)  and (max-width: 500px){ 
    .card{
        width: 100%;
    }
    .root-container{
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: repeat(2,auto);
        grid-template-areas: 
        "header header header"
        "main    main   main"
        ;
    }
    .header .hamburger, .btn-filtro{
        display: block;
    }
    .header{
        padding: .7rem;
        z-index: 1001;
    }
    .header a{
        font-size: 15px;
    }
    .header .hamburger{
        transform: scale(.5);
    }
    .nav{
        position: absolute;
        background-color: #e8e8e8;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        top: calc(3rem);
        transform: translateX(-100%);
        transition: transform 200ms;
    }
    .asideRight{
        position: absolute;
        background-color: #e8e8e8;
        z-index: 999;
        width: 100%;
        height: 100vh;
        top: calc(3rem);
        transform: translateX(-100%);
        transition: transform 200ms;
    }
    .asideRight .filtros-container{
        padding-top: 3rem;
    }
}

@media only screen and (min-width: 501px)  and (max-width: 900px){
    
    .card{
        width: 70%;
    }
    
    .root-container{
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: repeat(2,auto);
        grid-template-areas: 
        "header header header"
        "main    main   main"
        ;
    }
    .header .hamburger, .btn-filtro{
        display: block;
    }
    .header{
        padding: .7rem;
        z-index: 1001;
    }
    .header a{
        font-size: medium;
    }
    .header .hamburger{
        transform: scale(.5);
    }
    .nav{
        position: absolute;
        background-color: #e8e8e8;
        z-index: 1000;
        width: 100%;
        height: 100vh;
        top: calc(3rem);
        transform: translateX(-100%);
        transition: transform 200ms;
    }
    .asideRight{
        position: absolute;
        background-color: #f4f6f6;
        z-index: 999;
        width: 60%;
        height: 100vh;
        top: calc(3rem);
        transform: translateX(-100%);
        transition: transform 200ms;
    }
    .asideRight .filtros-container{
        padding-top: 3rem;
    }
}